@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    display: flex;
    gap: 10px;
    /* border: 1px black solid; */
}

.cruise-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.cruise-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 3px black;
    gap: 10px;
    padding: 10px;
}